/*	Học phần: Cơ sở dữ liệu
	Lab06: Quản lý học vien
	SV:	Huỳnh Phúc Lâm
	Mã SV: 2411869
	Lớp: CTK48B
*/	
----------ĐỊNH NGHĨA CƠ SỞ DỮ LIỆU----------------
create database Lab06_QLHocVien
go
use Lab06_QLHocVien
go
create table CaHoc
(Ca			tinyint primary key,
GioBatDau	Datetime,
GioKetThuc	Datetime
)
go
create table GiaoVien
(MSGV		char(4) primary key,
HoGV		nvarchar(20),
TenGV		nvarchar(10),
DienThoai	varchar(11)
)
go
create table Lop
(MaLop	char(4) primary key,
TenLop	nvarchar(30),
NgayKG	Datetime,
HocPhi	int,
Ca		tinyint references CaHoc(Ca),
SoTiet	int,
SoHV	int,
MSGV	char(4) references GiaoVien(MSGV)
)
go
create table HocVien
(MSHV		char(6) primary key,
Ho			nvarchar(20),
Ten			nvarchar(10),
NgaySinh	Datetime,
Phai		nvarchar(4),
MaLop		char(4) references Lop(MaLop)
)
go
create table HocPhi
(
SoBL	char(4) primary key,
MSHV	char(6) references HocVien(MSHV),
NgayThu Datetime,
SoTien	int,
NoiDung	nvarchar(50),
NguoiThu nvarchar(30)
)
go
-------------------
select * from CaHoc
select * from GiaoVien
select * from Lop
select * from HocVien
select * from HocPhi

----------XÂY DỰNG CÁC THỦ TỤC NHẬP DỮ LIỆU (Câu 5a) -------------
go
CREATE PROC usp_ThemCaHoc
	@ca tinyint, @giobd Datetime, @giokt Datetime
As
	If exists(select * from CaHoc where Ca = @ca) --kiểm tra có trùng khóa chính (Ca) 
		print N'Đã có ca học ' +@ca+ N' trong CSDL!'
	Else
		begin
			insert into CaHoc values(@ca, @giobd, @giokt)
			print N'Thêm ca học thành công.'
		end
go
--goi thuc hien thu tuc usp_ThemCaHoc---
exec usp_ThemCaHoc 1,'7:30','10:45'
exec usp_ThemCaHoc 2,'13:30','16:45'
exec usp_ThemCaHoc 3,'17:30','20:45'

select * from CaHoc
---------------------
go
CREATE PROC usp_ThemGiaoVien
	@msgv char(4), @hogv nvarchar(20), @Tengv nvarchar(10),@dienthoai varchar(11)
As
	If exists(select * from GiaoVien where MSGV = @msgv) --kiểm tra có trùng khóa chính (MSGV) 
		print N'Đã có giáo viên có mã số ' +@msgv+ N' trong CSDL!'
	Else
		begin
			insert into GiaoVien values(@msgv, @hogv, @Tengv, @dienthoai)
			print N'Thêm giáo viên thành công.'
		end
go
--goi thuc hien thu tuc usp_ThemGiaoVien---
exec usp_ThemGiaoVien 'G001',N'Lê Hoàng',N'Anh', '858936'
exec usp_ThemGiaoVien 'G002',N'Nguyễn Ngọc',N'Lan', '845623'
exec usp_ThemGiaoVien 'G003',N'Trần Minh',N'Hùng', '823456'
exec usp_ThemGiaoVien 'G004',N'Võ Thanh',N'Trung', '841256'
---------------------
--Xem bảng GiaoVien
Select * from GiaoVien

--exec usp_ThemGiaoVien 'G004',N'Nguyễn Văn',N'Ngọc', '8212121'
go
create PROC usp_ThemLopHoc
@malop char(4), @Tenlop nvarchar(20), 
@NgayKG datetime,@HocPhi int, @Ca tinyint, @sotiet int, @sohv int, 
@msgv char(4)
As
	If exists(select * from CaHoc where Ca = @Ca) and exists(select * from GiaoVien where MSGV=@msgv)--kiểm tra các RBTV khóa ngoại
	  Begin
		if exists(select * from Lop where MaLop = @malop) --kiểm tra có trùng khóa chính của quan hệ Lop 
			print N'Đã có lớp '+ @MaLop +' trong CSDL!'
		else	
			begin
				insert into Lop values(@malop, @Tenlop, @NgayKG, @HocPhi, @Ca, @sotiet, @sohv, @msgv)
				print N'Thêm lớp học thành công.'
			end
	  End
	Else -- Bị vi phạm ràng buộc khóa ngoại
	Begin
		if not exists(select * from CaHoc where Ca = @Ca)
				print N'Không có ca học '+@Ca+' trong CSDL nên không thêm được lớp học.'
		if not exists(select * from GiaoVien where MSGV=@msgv)
				print N'Không có giáo viên '+@msgv+' trong CSDL nên không thêm được lớp học.'
	End
go
--goi thuc hien thu tuc usp_ThemLopHoc---
set dateformat dmy
go
exec usp_ThemLopHoc 'A075',N'Access 2-4-6','18/12/2008', 150000,3,60,0,'G003'
exec usp_ThemLopHoc 'E114',N'Excel 3-5-7','02/01/2008', 120000,1,45,0,'G003'
exec usp_ThemLopHoc 'E115',N'Excel 2-4-6','22/01/2008', 120000,3,45,0,'G001'
exec usp_ThemLopHoc 'W123',N'Word 2-4-6','18/02/2008', 100000,3,30,0,'G001'
exec usp_ThemLopHoc 'W124',N'Word 3-5-7','01/03/2008', 100000,1,30,0,'G003'
--xem bảng Lop
Select * from Lop
--delete from Lop
----------------------
go
create PROC usp_ThemHocVien
@MSHV char(6), @Ho nvarchar(20), @Ten nvarchar(10),
@NgaySinh Datetime, @Phai	nvarchar(4),@MaLop char(4)
As
	If exists(select * from Lop where MaLop = @MaLop) --kiểm tra có RBTV khóa ngoại
	  Begin
		if exists(select * from HocVien where MSHV = @MSHV) --kiểm tra có trùng khóa chính (MAHV) 
			print N'Đã có mã số học viên này trong CSDL!'
		else
			begin
				insert into HocVien values(@MSHV,@Ho, @Ten,@NgaySinh,@Phai,@MaLop)
				Update lop set SoHV = SoHV +1 where MaLop = @malop --cập nhật số học viên của lớp @MaLop thêm 1 đơn vị
				print N'Thêm học viên thành công.'
			end
	  End
	Else
		print N'Lớp '+ @MaLop + N' không tồn tại trong CSDL nên không thể thêm học viên vào lớp này!'
go
----goi thuc hien thu tuc usp_ThemHocVien-------
set dateformat dmy
go
exec usp_ThemHocVien 'A07501',N'Lê Văn', N'Minh', '10/06/1988',N'Nam', 'A075'
exec usp_ThemHocVien 'A07502',N'Nguyễn Thị', N'Mai', '20/04/1988',N'Nữ', 'A075'
exec usp_ThemHocVien 'A07503',N'Lê Ngọc', N'Tuấn', '10/06/1984',N'Nam', 'A075'
exec usp_ThemHocVien 'E11401',N'Vương Tuấn', N'Vũ', '25/03/1979',N'Nam', 'E114'
exec usp_ThemHocVien 'E11402',N'Lý Ngọc', N'Hân', '01/12/1985',N'Nữ', 'E114'
exec usp_ThemHocVien 'E11403',N'Trần Mai', N'Linh', '04/06/1980',N'Nữ', 'E114'
exec usp_ThemHocVien 'W12301',N'Nguyễn Ngọc', N'Tuyết', '12/05/1986',N'Nữ', 'W123'

--Xem bảng HocVien
Select * from HocVien
Select * from Lop
----------------------------
go
create PROC usp_ThemHocPhi
@SoBL char(4),
@MSHV char(6),
@NgayThu Datetime,
@SoTien	int,
@NoiDung nvarchar(50),
@NguoiThu nvarchar(30)
As
	If exists(select * from HocVien where MSHV = @MSHV) --kiểm tra có RBTV khóa ngoại
	  Begin
		if exists(select * from HocPhi where SoBL = @SoBL) --kiểm tra có trùng khóa(SoBL) 
			print N'Đã có số biên lai học phí này trong CSDL!'
		else
		 begin
			insert into HocPhi values(@SoBL,@MSHV,@NgayThu, @SoTien, @NoiDung,@NguoiThu)
			print N'Thêm biên lai học phí thành công.'
		 end
	  End
	Else
		print N'Học viên '+ @MSHV + N' không tồn tại trong CSDL nên không thể thêm biên lai học phí của học viên này!'
go
----goi thuc hien thu tuc usp_ThemHocPhi-------
set dateformat dmy
go
exec usp_ThemHocPhi '0001','E11401','02/01/2008',120000,'HP Access 3-5-7', N'Vân'
exec usp_ThemHocPhi '0002','E11402','02/01/2008',120000,'HP Access 3-5-7', N'Vân'
exec usp_ThemHocPhi '0003','E11403','02/01/2008',80000,'HP Access 3-5-7', N'Vân'
exec usp_ThemHocPhi '0004','W12301','18/02/2008',100000,'HP Word 2-4-6', N'Lan'
exec usp_ThemHocPhi '0005','A07501','16/12/2008',150000,'HP Access 2-4-6', N'Lan'
exec usp_ThemHocPhi '0006','A07502','16/12/2008',100000,'HP Access 2-4-6', N'Lan'
exec usp_ThemHocPhi '0007','A07503','18/12/2008',150000,'HP Access 2-4-6', N'Vân'
exec usp_ThemHocPhi '0008','A07502','15/01/2009',50000,'HP Access 2-4-6', N'Vân'
--xem bảng HocPhi
Select * from HocPhi

------------------XÂY DỰNG CÁC THỦ TỤC SỬA DỮ LIỆU----------
GO
CREATE PROC usp_SuaHocVien
@MSHV char(6),
@Ho nvarchar(20),
@Ten nvarchar(10),
@NgaySinh datetime,
@Phai nvarchar(4),
@MaLop char(4)
AS
BEGIN
    IF NOT EXISTS (SELECT * FROM HocVien WHERE MSHV = @MSHV)
        PRINT N'Không tồn tại học viên!'
    ELSE IF NOT EXISTS (SELECT * FROM Lop WHERE MaLop = @MaLop)
        PRINT N'Lớp không tồn tại!'
    ELSE
    BEGIN
        UPDATE HocVien
        SET Ho=@Ho, Ten=@Ten, NgaySinh=@NgaySinh, Phai=@Phai, MaLop=@MaLop
        WHERE MSHV=@MSHV

        PRINT N'Sửa học viên thành công'
    END
END
GO


------------------XÂY DỰNG CÁC THỦ TỤC XÓA DỮ LIỆU----------
GO
CREATE PROC usp_XoaHocVien
@MSHV char(6)
AS
BEGIN
    IF NOT EXISTS (SELECT * FROM HocVien WHERE MSHV = @MSHV)
        PRINT N'Không tồn tại học viên!'
    ELSE
    BEGIN
        DELETE FROM HocPhi WHERE MSHV = @MSHV
        DELETE FROM HocVien WHERE MSHV = @MSHV

        PRINT N'Xóa học viên thành công'
    END
END
GO

-------------------------------------------------------------------------------
--5f)  Thủ tục lập danh sách học viên của một lớp cho trước. 
go
Create Proc InDSLop @malop char(4)
As
If exists (Select * from Lop where Malop=@malop)
	Select * From HocVien Where Malop = @malop
Else 
	print N'Không có lớp ' + @malop +' trong CSDL.'
Go
--Gọi thực hiện thủ tục 
exec InDSLop 'A075'
----5f)  Hàm lập danh sách học viên của một lớp cho trước. 
go
Create Function fn_InDSLop (@malop char(4)) returns Table
As
return (
		Select * 
		From HocVien 
		Where Malop = @malop
		)
Go
--Gọi thực hiện hàm
Select * From fn_InDSLop('A075')
-------------------------------------------------------------------------------
--------------------HÀM CẤP MÃ TỰ ĐỘNG & CÁCH SỬ DỤNG----------------
/*1. Viết hàm cấp mã cho giáo viên mới theo quy tắc lấy mã lớn nhất hiện có 
sau đó tăng thêm 1 đơn vị*/
GO
CREATE FUNCTION CapMaGV() 
RETURNS char(4)
AS
BEGIN
    DECLARE @MaxMaGV char(4)
    DECLARE @NewMaGV varchar(4)
    DECLARE @stt int
    DECLARE @i int	
    DECLARE @sokyso int

    IF EXISTS(SELECT * FROM GiaoVien)
    BEGIN
        SELECT @MaxMaGV = MAX(MSGV) 
        FROM GiaoVien

        SET @stt = CONVERT(int, RIGHT(@MaxMaGV,3)) + 1
    END
    ELSE
        SET @stt = 1
	
    SET @sokyso = LEN(CONVERT(varchar(3), @stt))
    SET @NewMaGV = 'G'
    SET @i = 0

    WHILE @i < 3 - @sokyso
    BEGIN
        SET @NewMaGV = @NewMaGV + '0'
        SET @i = @i + 1
    END	

    SET @NewMaGV = @NewMaGV + CONVERT(varchar(3), @stt)

    RETURN @NewMaGV	
END
GO
--Thử hàm sinh mã
select * from GiaoVien
print dbo.CapMaGV()
--delete from HocPhi
--delete from HocVien
--delete from Lop
--delete from GiaoVien

----2. Thủ  tục thêm giáo viên với mã giáo viên được cấp tự động----
go
CREATE PROC usp_ThemGiaoVien2
@hogv nvarchar(20), @tengv nvarchar(10), @dthoai varchar(10)
As
	declare @Magv char(4)
	
 if not exists(select * from GiaoVien 
				where HoGV = @hogv and TenGV = @tengv and DienThoai = @dthoai)
	Begin
		
		--sinh mã cho giáo viên mới
		set @Magv = dbo.CapMaGV()
		insert into GiaoVien values(@Magv, @hogv, @tengv,@dthoai)
		print N'Đã thêm giáo viên thành công'
	End
else
	print N'Đã có giáo viên ' + @hogv +' ' + @tengv + ' trong CSDL'
Go
---Sử dụng thủ tục thêm giáo viên
exec usp_ThemGiaoVien2 N'Lê Hoàng',N'Anh', '858936'
exec usp_ThemGiaoVien2 N'Nguyễn Ngọc',N'Lan', '845623'
exec usp_ThemGiaoVien2 N'Trần Minh',N'Hùng', '823456'
exec usp_ThemGiaoVien2 N'Võ Thanh',N'Trung', '841256'
exec usp_ThemGiaoVien2 N'Trần Ngọc Bảo', N'Hân', '0123456789'
exec usp_ThemGiaoVien2 N'Vũ Minh', N'Triết', '0123456788'

select * from GiaoVien

------------------CÀI ĐẶT RÀNG BUỘC TOÀN VẸN----------------
/*4a) Giờ kết thúc của một ca học không được trước giờ bắt đầu ca học đó 
(RBTV liên thuộc tính)*/
go
Create trigger tr_CaHoc_ins_upd_GioBD_GioKT
On CaHoc  for insert, update
As
if  update(GioBatDau) or update (GioKetThuc)
	     if exists(select * from inserted i where i.GioKetThuc<i.GioBatDau)	
	      begin
	    	 raiserror (N'Giờ kết thúc ca học không thể nhỏ hơn giờ bắt đầu',15,1)--Thông báo lỗi cho người dùng
		     rollback tran	--Hũy thao tác gây ra vi phạm ràng buộc toàn vẹn & đưa CSDL về tình trạng trước khi thao tác
	      end
go	
-----thử nghiệm hoạt động của trigger tr_CaHoc_ins_upd_GioBD_GioKT----
insert into CaHoc values(4,'16:00','14:40')
--delete from CaHoc where Ca = 4
Update CaHoc set GioKetThuc = '5:45' where ca = 1
select * from CaHoc
--select * from cahoc
/* 4b): Số học viên của 1 lớp không quá 30 và đúng bằng số học viên thuộc lớp đó. 
(RBTV do thuộc tính tổng hợp)*/
go
create trigger trg_Lop_ins_upd
on Lop for insert,update
AS
if Update(MaLop) or Update(SoHV)
Begin
	if exists(select * from inserted i where i.SOHV>30) 
	begin
		raiserror (N'Số học viên của một lớp không quá 30',15,1)--Thông báo lỗi cho người dùng
		rollback tran --hủy bỏ thao tác thêm lớp học
	end
	if exists (select * from inserted l 
	              where l.SOHV <> (select count(MSHV) 
									from HocVien 
									where HocVien.Malop = l.Malop))
	begin
		raiserror (N'Số học viên của một lớp không bằng số lượng học viên tại lớp đó',15,1)--Thông báo lỗi cho người dùng
		rollback tran --hủy bỏ thao tác thêm lớp học
	end
End
Go
-- Thử nghiệm 
select * from Lop
--
Set dateformat dmy
go
insert into Lop values('P001',N'Photoshop','1/11/2018',250000,1,100,10,'G004')--Thử nghiệm thêm lớp

update Lop set SoHV = 4 where MaLop = 'A075'--Thử nghiệm sửa sĩ số của lớp

/*4b): Hãy Cài đặt trigger cho bảng HocVien*/
GO
CREATE TRIGGER trg_HocVien_ins_del_upd
ON HocVien
AFTER INSERT, DELETE, UPDATE
AS
BEGIN
    -- cập nhật tăng
    UPDATE Lop
    SET SoHV = SoHV + (
        SELECT COUNT(*) FROM inserted i WHERE i.MaLop = Lop.MaLop
    )
    WHERE MaLop IN (SELECT MaLop FROM inserted)

    -- cập nhật giảm
    UPDATE Lop
    SET SoHV = SoHV - (
        SELECT COUNT(*) FROM deleted d WHERE d.MaLop = Lop.MaLop
    )
    WHERE MaLop IN (SELECT MaLop FROM deleted)
END
GO

/*4b) Hãy thực hiện yêu cầu 4b bằng cách xây dựng các thủ tục thêm, xóa, sửa học viên kèm 
cập nhật SoHV trong bảng Lop*/  
GO
CREATE PROC usp_ThemHocVien2
@MSHV char(6), @Ho nvarchar(20), @Ten nvarchar(10),
@NgaySinh Datetime, @Phai nvarchar(4),@MaLop char(4)
AS
BEGIN
    IF EXISTS(select * from HocVien where MSHV = @MSHV)
        PRINT N'Đã có học viên!'
    ELSE IF NOT EXISTS(select * from Lop where MaLop = @MaLop)
        PRINT N'Lớp không tồn tại!'
    ELSE
    BEGIN
        INSERT INTO HocVien VALUES(@MSHV,@Ho,@Ten,@NgaySinh,@Phai,@MaLop)
        PRINT N'Thêm học viên thành công'
    END
END
GO

/*4c)Tổng số tiền thu của một học viên không vượt quá học phí của lớp mà học viên đó đăng ký học*/
GO
CREATE TRIGGER trg_HocPhi_Check
ON HocPhi
AFTER INSERT, UPDATE
AS
BEGIN
    IF EXISTS (
        SELECT 1
        FROM HocPhi hp
        JOIN HocVien hv ON hp.MSHV = hv.MSHV
        JOIN Lop l ON hv.MaLop = l.MaLop
        GROUP BY hp.MSHV, l.HocPhi
        HAVING SUM(hp.SoTien) > l.HocPhi
    )
    BEGIN
        RAISERROR(N'Tổng học phí vượt quá quy định!',16,1)
        ROLLBACK TRAN
    END
END
GO

/*5b --> 5g: tự làm*/

--6a) Hàm tính tổng số học phí đã thu được của một lớp khi biết mã lớp. 
GO
CREATE FUNCTION fn_TongHocPhi1Lop(@malop char(4)) 
RETURNS int
AS
BEGIN
    DECLARE @TongTien int
    IF EXISTS (SELECT * FROM Lop WHERE MaLop = @malop)
    BEGIN
        SELECT @TongTien = SUM(SoTien)
        FROM HocPhi A
        JOIN HocVien B ON A.MSHV = B.MSHV
        WHERE B.MaLop = @malop
    END	
    RETURN @TongTien
END
GO
--- thử nghiệm hàm-------
print dbo.fn_TongHocPhi1Lop('A075')
--6b) Hàm tính tổng số học phí thu được trong một khoảng thời gian cho trước. 
GO
CREATE FUNCTION fn_TongHocPhi(@bd datetime, @kt datetime) 
RETURNS int
AS
BEGIN
    DECLARE @TongTien int
    SELECT @TongTien = SUM(SoTien)
    FROM HocPhi 	
    WHERE NgayThu BETWEEN @bd AND @kt
    RETURN @TongTien
END
GO
--- thu nghiem ham-------
set dateformat dmy
print dbo.fn_TongHocPhi('1/1/2008','15/1/2008')
--6c) Cho biết một học viên cho trước đã nộp đủ học phí hay chưa. 
GO
CREATE FUNCTION fn_KiemTraHocPhi(@MSHV char(6))
RETURNS nvarchar(50)
AS
BEGIN
    DECLARE @Tong int, @HocPhi int
    SELECT @Tong = SUM(SoTien)
    FROM HocPhi
    WHERE MSHV = @MSHV
    SELECT @HocPhi = l.HocPhi
    FROM HocVien hv JOIN Lop l ON hv.MaLop = l.MaLop
    WHERE hv.MSHV = @MSHV
    IF @Tong >= @HocPhi
        RETURN N'Đã đóng đủ học phí'
    RETURN N'Chưa đóng đủ học phí'
END
GO
-- test
SELECT dbo.fn_KiemTraHocPhi('A07501')

--6d) Hàm sinh mã số học viên theo quy tắc mã số học viên gồm mã lớp của học viên kết hợp với số thứ tự của học viên trong lớp đó. 
GO
CREATE FUNCTION fn_SinhMaHV(@MaLop char(4))
RETURNS char(6)
AS
BEGIN
    DECLARE @Max int, @New char(6)
    SELECT @Max = MAX(CAST(RIGHT(MSHV,2) AS int))
    FROM HocVien
    WHERE MaLop = @MaLop
    IF @Max IS NULL SET @Max = 0
    SET @Max = @Max + 1
    SET @New = @MaLop + RIGHT('0' + CAST(@Max AS varchar(2)),2)
    RETURN @New
END
GO
-- test
SELECT dbo.fn_SinhMaHV('A075')
